<div class="row">
  <div class="col-lg-8">
    <!-- <img src="/assets/profile.jpg" alt="profile-pic"> -->
    <img src="https://via.placeholder.com/620" alt="profile-pic">
  </div>
  <div class="col-lg-4">
    <span>Hello everybody, i am</span>
    <h1>Sebastian Ortiz Serna</h1>
    <h6>Junior Web/Software Developer</h6>
    <p>Some description here....</p>
    <ul class="personal-data">
      <li>
        <i class="far fa-calendar-alt fa-lg fa-fw"></i>
        31st August, 1997
      </li>
      <li>
        <i class="fas fa-mobile-alt fa-lg fa-fw"></i>
        +57 (305) 261 6462
      </li>
      <li>
        <i class="far fa-envelope fa-lg fa-fw"></i>
        sortiz.s@outlook.com
      </li>
      <li>
        <i class="fas fa-home fa-lg fa-fw"></i>
        Medellin, Colombia
      </li>
    </ul>
    <div class="social-media">
        <a href="https://www.linkedin.com/in/osernas" target="_blank">
          <i class="fab fa-linkedin fa-3x fa-fw"></i>
        </a>
        <a href="https://github.com/sortizs/" target="_blank">
          <i class="fab fa-github-square fa-3x fa-fw"></i>
        </a>
      </div>
  </div>
</div>