:root {
  --ng-primary: #314D5B;
  --ng-primary-rgb: 49,77,91;
  --ng-primary-contrast: #ffffff;
  --ng-primary-contrast-rgb: 255,255,255;
  --ng-primary-shade: #2b4450;
  --ng-primary-tint: #465f6b;

  --ng-secondary: #008080;
  --ng-secondary-rgb: 0,128,128;
  --ng-secondary-contrast: #ffffff;
  --ng-secondary-contrast-rgb: 255,255,255;
  --ng-secondary-shade: #007171;
  --ng-secondary-tint: #1a8d8d;

  --ng-tertiary: #3399FF;
  --ng-tertiary-rgb: 51,153,255;
  --ng-tertiary-contrast: #000000;
  --ng-tertiary-contrast-rgb: 0,0,0;
  --ng-tertiary-shade: #2d87e0;
  --ng-tertiary-tint: #47a3ff;

  --ng-success: #10dc60;
  --ng-success-rgb: 16, 220, 96;
  --ng-success-contrast: #ffffff;
  --ng-success-contrast-rgb: 255, 255, 255;
  --ng-success-shade: #0ec254;
  --ng-success-tint: #28e070;

  --ng-warning: #ffce00;
  --ng-warning-rgb: 255, 206, 0;
  --ng-warning-contrast: #ffffff;
  --ng-warning-contrast-rgb: 255, 255, 255;
  --ng-warning-shade: #e0b500;
  --ng-warning-tint: #ffd31a;

  --ng-danger: #f04141;
  --ng-danger-rgb: 245, 61, 61;
  --ng-danger-contrast: #ffffff;
  --ng-danger-contrast-rgb: 255, 255, 255;
  --ng-danger-shade: #d33939;
  --ng-danger-tint: #f25454;

  --ng-dark: #222428;
  --ng-dark-rgb: 34, 34, 34;
  --ng-dark-contrast: #ffffff;
  --ng-dark-contrast-rgb: 255, 255, 255;
  --ng-dark-shade: #1e2023;
  --ng-dark-tint: #383a3e;

  --ng-medium: #989aa2;
  --ng-medium-rgb: 152, 154, 162;
  --ng-medium-contrast: #ffffff;
  --ng-medium-contrast-rgb: 255, 255, 255;
  --ng-medium-shade: #86888f;
  --ng-medium-tint: #a2a4ab;

  --ng-light: #f4f5f8;
  --ng-light-rgb: 244, 244, 244;
  --ng-light-contrast: #000000;
  --ng-light-contrast-rgb: 0, 0, 0;
  --ng-light-shade: #d7d8da;
  --ng-light-tint: #f5f6f9;
}